<% provide(:title, "About") %>
<h1><%= t("link.about") %></h1>
<p>
  <%= link_to t("label.rail_tuts"), "https://www.railstutorial.org/" %>
  <%= t("link.book_html") %> -
  <%= link_to t("link.series"), "http://screencasts.railstutorial.org/" %>
  <%= t("label.teach") %>
  <%= link_to "Ruby on Rails", "https://www.railstutorial.org/" %>.
</p>
