<% provide(:title, "Help") %>
<h1><%= t("link.help") %></h1>
<p>
  <%= t("label.title", name: t("link.help")) %>
  <%= t("label.rail_tuts") %> -
  <%= link_to t("label.rail_help"), "https://www.railstutorial.org/help" %>.
</p>
<p>
  <%= t("label.help", logo: t("link.logo")) %>
  <%= link_to t("label.rail_tuts"), "https://www.railstutorial.org/book" %>.
</p>
