<footer class="footer">
  <small>
    <%= link_to t("label.rail_tuts"), "https://www.railstutorial.org/" %>
    <%= t("label.by") %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("link.about"), about_path %></li>
      <li><%= link_to t("link.contact"), contact_path %></li>
      <li><%= link_to t("link.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
